.clock {
  background-color: orange;
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin: 100px;
}

.zero {
  background-color: white;
  border: 2px solid green;
  height: 100px;
  width: 100px;
}

.one {
  background-color: red;
  height: 200px;
  width: 200px;
}

.two {
  background-color: black;
  height: 300px;
  width: 300px;
}

.hand {
  width: 2px;
  height: 55px;
  background-color: #000;
  position: absolute;
  bottom: 50px;
  left: 50px;
  transform: translateX(-50%) rotate(0deg);
  transform-origin: bottom;
}
