.clock {
  background-color: orange;
  border-radius: 50%;
  position: relative;

}

.zero {
  background-color: white;
  border: 2px solid green;
  height: 314px;
  width: 314px;
  margin: 43px;
}

.one {
  background-color: white;
  border: 2px solid blue;
  height: 400px;
  width: 400px;
  margin: 50px;
}

.two {
  background-color: white;
  border: 2px solid red;
  height: 500px;
  width: 500px;
  margin: 100px;
}

.hand {
  width: 2px;
  height: 160px;
  background-color: #000;
  position: absolute;
  bottom: 157px;
  left: 157px;
  transform: translateX(-50%) rotate(0deg);
  transform-origin: bottom;
}

.dot {
  background-color: black;
  border-radius: 50%;
  position: absolute;
  height: 10px;
  width: 10px;
  top: 157px;
  left: 157px;
  transform: translateX(-50%) translateY(-50%);
}
