body {
    margin: 0;
}

#root {
    margin: 0 auto;
    background-color: rgb(80, 80, 80);
    padding: 0%;
}

#controllers {
    height: 300px;
    width: 100%;
    position: relative;
    background-color: rgb(211, 211, 211);
}

#rythmyc-view {
    background-color: rgb(114, 114, 114);
    height: 55%;
    width: 100%;
    position: absolute;
}

#section {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 90%;
    border: 5px solid black;
    margin: 5px;
}

#selector {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
    border: 5px solid black;
}

#bpm-value {
    margin: 0 auto;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    font: icon;
}

.tempo-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 100px;
    height: 50px;
    position: absolute;
    left: 70%;
    top: 25px;
    border-radius: 20px;
    border: 2px solid black;
    transition: 0.5s;
    cursor: pointer;
}

.tempo-info:hover {
    width: 120px;
}

.tempo-info #next {
    position: absolute;
    top: 50%;
    right: 30px;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}

.tempo-info:hover #next {
    opacity: 1;
    right: 20px;
}

.tempo-info #prev {
    position: absolute;
    top: 50%;
    left: 20px;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    z-index: 1;
    transform: translateY(-50%) rotate(315deg);
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}

.tempo-info:hover #prev {
    opacity: 1;
    right: 20px;
}

.top-button-container {
    position: relative;
    display: inline-block;
    width: 275px;
    height: 70px;
    top: 25px;
    left: 300px
}

#play {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid green;
    opacity: 0.8;
}

#play:hover {
    opacity: 1;
}

#stop {
    position: relative;
    background-color: red;
    display: inline-block;
    margin-top: 25px;
    margin-right: 25px;
    height: 40px;
    width: 40px;
    opacity: 0.8;
}

#stop:hover {
    opacity: 1;
}

#loop {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid #0074d9;
    border-radius: 75%;
    border-right-color: transparent;
}

#rec {
    position: relative;
    background-color: red;
    display: inline-block;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.clock {
    background-color: white;
    border-radius: 50%;
    position: relative;
}

.hand {
    background-color: #000;
    position: absolute;
    transform: translateX(-50%) rotate(0deg);
    transform-origin: bottom;
}

.dot {
    background-color: black;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.add-clock {
    background-color: teal;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#canvasCont {
    position: relative;
    width: 500px;
    height: 150px;
    left: 400px;
    top: -150px;
}

#selectorContainer {
    width: 200px;
    height: 200px;
    position: relative;
}

#current-scope {
    position: relative;
    background-color: rgb(134, 134, 134);
    border: 5px solid black;
    width: 230px;
    height: 140px;
}

#full-rec {
    background-color: rgb(158, 158, 158);
    border: 5px solid black;
    width: 230px;
    height: 140px;
    position: relative;
    left: 5px;
}

#addclockcanvas {
    position: relative;
    margin: 0 auto;
    top: 5px;
    display: inline-block;
}

#addclkbutton {
    position: relative;
    display: inline-block;
    height: 90px;
    top: 160px;
}

#addsection {
    display: inline-block;
    margin: auto;
}

#waitreccanvas {
    position: absolute;
}

#waitrec {
    display: inline-block;
    position: absolute;
    height: 140px;
    width: 300px;
}

#addsectioncanvas {
    position: relative;
    display: inline-block;
}